@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$brown: #786450;
$height: auto;

.side {
  height: $height;
  min-height: 300px;
  min-width: 350px;
  width: 50vw;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);
}

.center {
  position: relative;
	height: $height;
	width: 350px;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);
}

.profile {
	float: left;
	width: 230px;
	height: $height;
	text-align: center;
	
	.image {
		position: relative;
		width: 70px;
		height: 70px;
		margin: 38px auto 0 auto;
		
		.circle-1 {
			position: absolute;
			box-sizing: border-box;
			width: 76px;
			height: 76px;
			top: -3px;
			left: -3px;
			border-width: 1px;
			border-style: solid;
			border-color: $brown $brown $brown transparent;
			border-radius: 50%;
			transition: all 1.5s ease-in-out;
		}
		
		.circle-2 {
			@extend .circle-1;
			width: 82px;
			height: 82px;
			top: -6px;
			left: -6px;
			border-color: $brown transparent $brown $brown;
		}
		
		img {
			display: block;
			border-radius: 50%;
			background: #F5E8DF;
		}
		
		&:hover {
			cursor: pointer;
			
			.circle-1 {
				transform: rotate(360deg);
			}
			
			.circle-2 {
				transform: rotate(-360deg);
			}
			
		}
		
	}
	
	.name {
		font-size: 15px;
		font-weight: 600;
		margin-top: 20px;
	}
	
	.job {
		font-size: 11px;
		line-height: 15px;
	}
	
	.actions {
		margin-top: 33px;
		
		.btn {
			display: block;
			width: 120px;
			height: 30px;
			margin: 0 auto 10px auto;
			background: none;
			border: 1px solid $brown;
			border-radius: 15px;
			font-size: 12px;
			font-weight: 600;
			box-sizing: border-box;
			transition: all .3s ease-in-out;
			color: $brown;
			
			&:hover {
				background: $brown;
				color: #fff;
			}
		}
	}
	
}
.actions2 {
	
	.btn2 {
		display: block;
		width: 100px;
		height: 30px;
		margin: 0 auto 10px auto;
		background: none;
		border: 1px solid orange;
		border-radius: 15px;
		font-size: 12px;
		font-weight: 600;
		box-sizing: border-box;
		transition: all .3s ease-in-out;
		color: orange;
		
		&:hover {
			background: orange;
			border:0;
			color: #fff;
		}
	}
}
.stats {
	float: left;
	
	.box {
		box-sizing: border-box;
		width: 120px;
		height: 99px;
		background: #F5E8DF;
		text-align: center;
		padding-top: 28px;
		transition: all .4s ease-in-out;
		
		&:hover {
			background: #E1CFC2;
			cursor: pointer;
		}
		
		&:nth-child(2) {
			margin: 1px 0;
		}
		
	}
	
	span {
		display: block;
	}
	
	.value {
		font-size: 18px;
		font-weight: 600;
	}
	
	.parameter {
		font-size: 11px;
	}
	
}
